:root {
  --font-basic: #000000;
  --font-contrast: #ffffff;

  --button-basic: #ffc107;
  --button-active: #28a745;
  --button-basic-hover: #d39e00;

  --users-basic: #c4e1ff;
  --users-hover: #005cbf;
  --users-active: #007bff;

  --navigation-basic: #17a2b8;
  --navigation-hover: #138496;

  --background-basic: #e6f9fc;
  --background-light-contrast: #ffffff;
  --background-dark-contrast: #17a2b8;

  --transparent: rgba(0, 0, 0, 0.5);

}