.page {
  font-family: "Catamaran", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.page__wrapper {
  @include container;

  display: grid;
  grid-template-rows: min-content 1fr;
}

.page__heading {
  @include reset-heading;
  margin-bottom: 20px;
}