.pipeline {
  display: grid; 
  grid-template-columns: min-content max-content 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "reload search title"
    "steps steps steps"
    "details details details";
  column-gap: 10px;
  row-gap: 10px;

  align-items: center;
}

.pipeline__reload {
  @include reset-button;

  grid-area: reload;
}

.pipeline__title {
  grid-area: title;
}

.pipeline__search {
  grid-area: search;
}

.pipeline__steps {
  grid-area: steps;
}

.pipeline__details {
  grid-area: details;
}